{% extends "base.html" %}

{% block title %}Get Recommendations{% endblock %}

{% block content %}
  <h2>Enter your preferences:</h2>
  <form method="POST" action="/recommend">

		<label for="input_type">Type of location:</label><br>
        <select id="input_type" name="input_type">
            {% for type in input_types %}
            <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select><br><br>
        <label for="input_grade">Grade of location:</label><br>
        <select id="input_grade" name="input_grade">
            {% for grade in input_grades %}
            <option value="{{ grade }}">{{ grade }}</option>
            {% endfor %}
        </select><br><br>
        <label for="input_district">District of location:</label><br>
        <select id="input_district" name="input_district">
            {% for district in input_districts %}
            <option value="{{ district }}">{{ district }}</option>
            {% endfor %}
        </select><br><br>
        <label for="input_nationality">Reviewer Nationality:</label><br>
        <select id="input_nationality" name="input_nationality">
            {% for nationality in reviewer_nationalities %}
            <option value="{{ nationality }}">{{ nationality }}</option>
            {% endfor %}
        </select><br><br>


      <input type="submit" value="Submit" />
    </form>
{% endblock %}